/* Your CSS Code here. */
.holder{
	display: grid;
	background-color: #D3D3D3;
	width:200px;
	height:200px;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

.item-1{
	background-color:red;
}
.item-2{
	background-color:green;
}
.item-3{
	background-color:yellow;
}
.item-4{
	background-color:blue;
}


